
/*==== RESET DE PARAMETROS POR DEFECTO EN NAVEGADORES ===*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


/*==== MENSAJES/TITULARES EN EL CENTRO DE LA PANTALLA ===*/
.mensaje_central {
    color: lightblue;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    text-shadow: 0px 0px 50px lightyellow;
    text-align: center;
    margin: 45px 0px 50px 0px;
}


/*========== MENSAJES DE CONEXIÓN A BBDD ==========*/
.OK, .KO { background-color: black; text-align: center; border-radius: 5px; margin: 1px; }
.OK { color: lightgreen; }
.KO { color: red; }


/*========== CONTENEDORES PRINCIPALES =============*/
.container-fluid {
    width: 100%;
    min-width: 760px;
    height: auto;
}

body {
    position: relative;
    max-width: 1704px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/fondo.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: black;
}

main {
    height: auto;
    min-height: 550px;
}

.main_privado {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


/*========== BARRA DE NAVEGACION: MENÚ SUPERIOR ==========*/
.barraMenu {
    min-width: 760px;
    position: relative;
    top: -20px;
    background-color: rgba(1, 40, 14, 0.75);
    border: 4px double green;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px white;
    font-size: 1.1rem;
    font-variant: small-caps;
}

.barraMenu a {
    color: darkgreen;
    text-shadow: 0px 1px 1px greenyellow;
    font-variant: small-caps;

}

.barraMenu span{
    color: greenyellow;
    font-size: 2rem;
}

.barraMenu a:hover, .navbar-brand a {
    color: greenyellow;
    top: -4px;
    border-left: 3px solid greenyellow;
    border-right: 3px solid greenyellow;
    border-radius: 5px;
    font-variant: small-caps;
    box-shadow: inset 0px 0px 30px greenyellow;
}

.dropdown-menu {
    background-color: rgba(50, 180, 50, 0.75);
    font-weight: bold;
    border: 2px solid greenyellow;
    box-shadow: 0px 2px 20px lightblue;
}
.dropdown-menu a:hover {
    font-variant: small-caps;
    background-color: rgba(4, 85, 4, 0.8);
}


/*========== CABECERA ==========*/
header {
    width: 100%;
    min-width: 760px;
    background-color: rgba(15, 15, 15, 0.75);
    color: white;
    height: 200px;
    border-radius: 5px;
    box-shadow: inset 0px -2px 20px lightblue;
}

header img {
    box-shadow: 0px 2px 30px -3px lightyellow;
    border-radius: 50%;
    border: 2px solid green;
}

header #logo {
    position: relative;
    width: 180px;
    height: auto;
    z-index: 1000;
}

header h1, header h2 {
  font-family: 'Press Start 2P', cursive;
}

header h1 {
  font-size: 3rem;
  margin-top: 40px;
  text-shadow: 0px 2px 20px yellow;
}

header h2 {
    text-shadow: 0px 2px 10px white;
    font-size: 1.3rem;
}

/*========== LOS 2 BOTONES DE LA CABECERA ==========*/
.btn-cabecera {
  position: relative;
  margin-top: 35px;
  margin-right: 10px;
  width: 150px;
  height: 40px;
  border-radius: 25%;
  box-shadow: inset -1px -2px 50px darkgreen;
}


/*========== PIE DE WEB ==========*/
footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 50%;
  min-width: 760px;
}

#Footer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 50px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 50% 50% 0px 0px;
  border-top: 3px solid lightblue;
  color: grey;
  display: flex;
}
#Footer a {
    flex: auto;
    text-align: center;
}


#menuPrivado {
    top: -25px;
    width: 100%;
}

/*========== FORMULAIOS ==========*/
.formulario {
    background-color: rgba(35, 100, 50, 0.85);
    border: 2px solid lightyellow;
    border-radius: 10px;
    width: 90%;
    max-width: 1100px;
    min-width: 760px;
    padding: 15px 60px 15px 60px;
    color: greenyellow;
    font-weight: 100;
}

.panel_centrado {
    max_width: 80%;
    margin-top: 40px;
}

#form_modificar {
    font-size: 1rem;
    max-height: 250px;
    overflow-y: auto;
}

#form_crear_art button, #form_crear_cat button, #form_subir_art button{
    width: 100%;
}

.input-group-addon { width: 150px;}

.articulo_subido li { color: yellow; font-weight: 400; }
.articulo_subido .Titulo { color: darkgreen; font-weight: bold; }

#subir{ width: 83%;}

.Categoria { color: yellow; font-size: 1.1rem; }
.marcoCaja tr { list-style: none; height: 30px; }
.Titulo { background-color: greenyellow; border-radius: 10px;
    color: darkgreen; text-align: center; font-size: 1.2rem; font-weight: bold;
}
.boton_cerrar{ width: 100%; }
.row { padding: 3px; }
.col-12 { border: 2px solid green; border-radius: 10px;}

.elevar_ventana {
    position: relative;
    margin-top: -200px;
    left: 25px;
    box-shadow: 3px 5px 25px black;
    background-color: rgba(0, 100, 50, 0.95);
}

/*========== CONFIGURACION DE TABLE ==========*/
th {
    background-color: green;
    color: lightgreen;
    box-shadow: inset 5px -1px 10px lightgreen;
    border-left: 3px solid greenyellow;
 }

tr { font-weight: bold; border-radius: 10px; font-size: 0.8rem;}

tr:hover {
    color: green;
    background-color: lightgreen;
    border-radius: 5px;
    box-shadow: inset 2px 4px 8px darkgreen;
}

.text-indent-5x100 { text-indent: 5%; }

/*========== IMAGEN SUBIDA/CARGADA ==========*/
img {
  width: 200px;
  height: auto;
}

#imgSalida {
    width: 100px;
    height: auto;
}

.imgSalida_lg {
    position: relative;
    width: 130px;
    left: 15px;
    height: auto;
    border: 3px solid green;
    box-shadow: 3px 5px 25px black;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



/*============== FINAL DEL CSS ==============*/
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
