
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.container-fluid, .container {
  position: relative;
/*  border: 2px solid blue; */
  height: auto;
}

header {
  background-color: rgb(15, 15, 15);
  color: white;
  height: 200px;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin-top: 50px;
}

header img{
  width: 200px;
  height: auto;
  margin-left:20px;
}

#menu {
  height: 20px;
  background-color: #80ccff;/*naranja-pastel rgb(255, 204, 153),lila rgb(204, 153, 255), rgb(255, 102, 153) salmon*/
  height: auto;
}
/*ul de menu*/
ul{
  padding-top: 8px;
  }
 #navbarNav1:hover, #navbarNav2:hover{
    color: yellow;
  }
#peu{
  width: 100%;
  height: 150px;
  background-color: rgb(15, 15, 15);
  color: grey;
  padding: 20px;
}
#irPrivado {
  position: relative;
  margin-top: 50px;
  right: 0px;
}
/*ojo*/
#api{
  position: relative;
  margin-bottom: 10px;
  right: 0px;
}
section img{
    width: 100%;
    max-height: 200px;
    
}
.message{
    text-align: center;
    color:red;
}