﻿<link rel="stylesheet" href="./css/estilos.css">

<footer class="container-fluid">
    <div id="Footer" class="row">
        <a href="../publico/index.php">Web pública</a> |
        <a href="../doc/" target="_blank">API REST</a> |
        <a href="index.php">Zona privada</a>
    </div>
</footer>
