﻿<link rel="stylesheet" href="./css/estilos.css">

<header class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <img id="logo" src="img/logo.jpg" alt="Logo Retro Games">
    </div>
    <div class="col text-center">
     <h1>RETRO GAMES</h1>
     <h2>Los mejores juegos arcade</h2>
   </div>
   <div class="col-md-3 col-xs-12 text-right">
  <a href="../publico/index.php" class="btn btn-danger btn-cabecera">ZONA PÚBLICA</a>
  <br>
  <a href="../publico/index.php" class="btn btn-danger btn-cabecera">DESCONECTAR</a>
  </div>
</div><!--cierre de row-->
 </header>
